body {
    text-align: center;
}
#apple-shelf {
    background: red;
    border: 20px solid red;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 250px;
}

#orange-shelf {
    background: orange;
    border: 20px solid orange;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}